{% extends 'base.html.twig' %}

{% form_theme formSemestre 'bootstrap_4_layout.html.twig' %}

{% block title %}
    {% if creer %}
        Créer un Semestre
    {% else %}
        Modifier un Semestre
    {% endif %}
{% endblock %}

{% block body %}
    {{ form_start(formSemestre) }}
        {{ form_row(formSemestre.numeroSemestre, {'attr' : {'placeholder' : "Numero du semestre"}})}}
        {{ form_row(formSemestre.nomFormation, {'attr' : {'placeholder': "Nom de la formation"}}) }}

        <button type="submit" class="btn btn-success">
            {% if creer %}
                Créer un Semestre
            {% else %}
                Modifier un Semestre
            {% endif %}
        </button>

        <a class="btn btn-secondary" href="{{ path('creer_cours') }}">Créer un cours</a>
        <a class="btn btn-info" href="{{ path('accueilSemestres') }}">Retour aux semestres</a>
    {{ form_end(formSemestre) }}
{% endblock %}

{% block javascripts %}
    <script>
        $("#sem").addClass("active");
    </script>
{% endblock %}