{% extends 'base.html.twig' %}

{% block title %}
Cours
{% endblock %}

{% block body %}

    <div id="myDiv" class="row cards">
        <div class="card pres-card">
            <div class="card-body">
                <h5 class="card-title">
                    Créer un cours
                </h5>
            </div>

            <div class="card-footer bg-transparent creer_bouton">
                <a class="btn btn-success"  href="{{ path('creer_cours') }}"> Creer </a>
            </div>
        </div>

        {% for cour in cours %}
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{ cour.nom }}
                </h5>
                <p class="card-text">Semestre n°{{ cour.semestre.numeroSemestre }} </p>
            </div>
                <div class="card-footer bg-transparent">
                    <a class="btn btn-primary" href="{{ path('cour_show',{id:cour.id}) }}"> Infos </a>
                    <a class="btn btn-danger" href="{{ path('delete_cours',{id:cour.id}) }}"> Supprimer </a>
                </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myDiv .card .card-body .card-title").filter(function() {
                    $(this).parent().parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $("#cours").addClass("active");
        });
    </script>
{% endblock %}

